<!-- app/views/door_installations/_delete_modal_door.html.erb -->
<div id="deleteModalDoor" class="modal">
  <div class="modal-content">
    <span class="close-button">&times;</span>
    <p>Are you sure you want to delete this door installation?</p>
    <div class="modal-actions">
      <button id="confirmDeleteButtonDoor" class="delete-button">Delete</button>
      <button class="cancel-button">Cancel</button>
    </div>
  </div>
</div>
