<!-- app/views/floors/show.html.erb -->
<h1>Floor Details</h1>
<p>
  <strong>ID:</strong>
  <%= @floor.id %>
</p>
<p>
  <strong>Number of Floors:</strong>
  <%= @floor.number_of_floors %>
</p>
<%= link_to 'Back', root_path %>
